@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,700,900");
html, body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: auto;
  box-sizing: border-box; }

.white-space {
  height: 1000px; }

h1, h2, h3, h4, h5, p {
  color: #2C2F3F; }

h1 {
  font-weight: 900; }

.subtitle {
  font-weight: 700;
  font-size: 30px;
  text-decoration: underline; }

p {
  font-weight: 300;
  font-size: 18px; }

.comment {
  font-weight: 300;
  font-size: 18px;
  text-align: center; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

hr {
  border: none;
  background-color: #DCDEEB;
  height: 2px; }

header .main-header {
  position: relative;
  width: 100%;
  height: 600px;
  background: #4597FF;
  z-index: 1; }
  header .main-header .header-text .second-title, header .main-header .header-text .title {
    margin: 0;
    color: white;
    text-align: center; }
  header .main-header .header-text .second-title {
    padding-top: 50px;
    font-weight: 100; }
  header .main-header .header-text .title {
    padding-top: 80px;
    font-weight: 900;
    font-size: 150px;
    margin-top: -120px; }
  header .main-header .canon-image {
    position: absolute;
    margin-top: -150px;
    left: 50%;
    transform: translate(-50%);
    max-width: 700px; }
header .shadow {
  width: 100%;
  height: 15px;
  background-color: #EBEBEB; }

.hive-inator {
  position: absolute;
  left: 50%;
  z-index: 0;
  margin-top: -100px; }
  .hive-inator .string {
    height: 200px;
    width: 10px;
    background: #876F0A;
    position: absolute; }
  .hive-inator .ball {
    position: absolute;
    margin: 180px 0px 0px -15px;
    height: 40px;
    width: 40px;
    background: #EAEE5F;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px; }

#grid {
  position: relative;
  margin: 200px auto 0px auto;
  max-width: 700px;
  width: 90%; }
  #grid .content {
    width: 80%;
    max-width: 600px;
    margin: 0 auto; }
    #grid .content .content-image {
      width: auto;
      max-width: 100%;
      position: relative;
      left: 50%;
      transform: translate(-50%); }
    #grid .content .header-circle {
      position: absolute;
      height: 40px;
      width: 40px;
      background: #F2F2F2;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      margin-left: -85px; }
    #grid .content .header-space {
      height: 40px; }
  #grid .guider {
    width: 10px;
    height: 100%;
    background-color: #F2F2F2;
    position: absolute; }
  #grid p {
    position: relative; }

@media(max-width: 950px) {
  header .main-header {
    height: 550px; }
    header .main-header .header-text .second-title {
      font-size: 25px;
      padding-top: 40px; }
    header .main-header .header-text .title {
      padding-top: 90px;
      font-size: 80px; }
    header .main-header .canon-image {
      width: 90%;
      max-width: 600px;
      margin-top: -30px; } }
@media(max-width: 800px) {
  #grid {
    width: 100%; }
    #grid .content {
      width: 90%; }
      #grid .content .header-circle {
        display: none; }
    #grid .guider {
      display: none; } }
